<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            THE NUMBER
        {% endblock %}
    </title>

</head>
<body>
{% block body_block %}
    {% if types %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="active">
                <th>Тип</th>
{#                <th>Количество</th>#}
{#                <th>Сторона</th>#}
            </tr>
        </thead>
        {% for type in types %}
        <tbody>
            <tr>
                <td>{{ type }}</td>
{#                <td>{{ ship.name }}</td>#}
{#                <td>{{ ship.side }}</td>#}
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
        <p>There are no ships!</p>
    {% endif %}
{% endblock %}
</body>
</html>