<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            THE NUMBER
        {% endblock %}
    </title>

</head>
<body>
{% block body_block %}
{#    {% if context_dict  %}#}
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="active">
                <th>Тип</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for type in types %}
                    <ul>
                        <li>{{ type }}</li>
                    </ul>
                    {% endfor %}

                </td>
                <td>
                    {% for foo in counted %}
                    <ul>
                        <li>{{ foo }}</li>
                    </ul>
                    {% endfor %}

                </td>
            </tr>
        </tbody>

    </table>

{#    {% else %}#}
{#        <p>There are no ships!</p>#}
{#    {% endif %}#}
{% endblock %}
</body>
</html>