<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            THE NUMBER
        {% endblock %}
    </title>

</head>
<body>
{% block body_block %}
    {% if table  %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="active">
                <th>Тип</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
           {% for tr in table %}
            <tr>
                <td>{{ tr.0 }}</td>
                <td>{{ tr.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1 class="display-1">There is no ships!</h1>
    {% endif %}
{% endblock %}
</body>
</html>